dist: trusty
language: minimal
sudo: required

env:
  global:
    - fast_finish: true
    - secure: OkJA/uxUQHOeeHpAPHpjXOB3oVcLKGQ6OdK/UrWYd7HbNk6TTvmI4CnlAYGT8MMjspBi9djuxD6p4nQyTlEwDg8OMWfi0TbnvZ3trO79Bo1GlvgFk2wyWePeADykCst3Oa7x3Qv0E6GHxTkST/SCy9tErlEDV/hPNu+5eLA8JJhvde0f7QhCag7SDFawkphxINdj34llAbwzTwHRnzjPqVQU+8Lcu5tXMx52fM+iFHxnYcH1dX9A80XGiiDgesdFENqJmum9+7fOcc6jgnJlH82QwcNVnTyMWwxmfoGDfGVtNuP1IZFeyuV/WFVuk6Z8gne8rOQNhy20sH2etuH3gZgSEycUfa0nmnOMovCwkvhbhCruMSMwP04bjQiFKWX6wQIKyHtgdDmtqeoINbslyJDliKLOjcu5kkcTpyrsZzyHI30WQwVS27fsUY6TK8dTli6L6m2bieEH3EqiBbdJxmvtIfjsaeLzuyiXXQzYh5jjERZqZkKfWg0nziBekYx1VKkpQkdxk2+PSYhFbhc+kKRabBrpNbuzuUXr2Skc5RUDT8GEN3pQd0vTW1jnPhV+zT2euiblqp6Gj+kN7MLv18o49C03nr5xaRVZiNq/VyFpVi3LaqyH9p6ZpJIXDNBxAaR6NW3Fyc1MUjGmWt/dVVfuyK2/ZxJfoV/knHEQrjM=
    - secure: DPm5sKwASaNf2WBB7nQhW1oHcWTeaTy4oBmI48Lep2f/NKpVvZaaaLrZ57G+o5SFuDqEqtPE7bsjdHiZnIooKj6fjKM1IqgYhA3tIq3pF4ECIT4gtN9B/l7QWhA20Dm5K5XARb1+jcg13EQ784/SbLTaMpfz65ENujHWUHnRHKEVlZ4ETcFuNYRmav5DlRvknHM91Z4r0Vmg1ws+N1K7EJOdM+YHEK7eAL/x8DnmJxuroCsqnnxU1UIKlunhYssLu0zqADdtvMkLkIv+tL0tHBUymi5YBQ0AZvAoAGR+1y9b+Jno+6mRbTBzLgrytBq6uaG8j9IBmgtD87YhL5+6/mDv/snRde18wCMt+AbQASSWX8NX2D5hPgMCzksgnU+X8PxdF3okx3tirbTU98lagvdCaUJB7vCqe1UEK0UWt758H4/6u6nZqZvfWgvP5XtBtfbvChw5hSsebJAOYNllAdtmTGdKghq6SHqVtqCDJYWo/MRKQeusomDVLm6cHo8HiGfqqDkdMWPzVxtTPwpsuBXfVCPT6mnMbWzVdGVMfOx3chDApz9fh3kJFiE5ZqOpsdkmMqds5SMizxGGBZVQjo6V4wa4TyQ7nx4cecaDqAo1fbvzF6lUsxs4F6Ki1rk5r5JsfjvH+GaN+I0X/CRtcQNqGxOkDGr43UJKLLjva8E=
    - env: CONTAINER_NAME=ansible-dev-container
    - env: DOCKER_NAMESPACE=lansible

services:
  - docker

addons:
  apt:
    sources:
      - docker-trusty
    packages:
      - docker-ce

matrix:
  include:
    - env: ANSIBLE_VERSION=2.2 TAGS="2.2"         # 2.2.x unsupported
    - env: ANSIBLE_VERSION=2.3 TAGS="2.3"         # 2.3.x unsupported
    - env: ANSIBLE_VERSION=2.4 TAGS="2.4"         # 2.4.x security
    - env: ANSIBLE_VERSION=2.5 TAGS="2.5"         # 2.5.x bugs and security
    - env: ANSIBLE_VERSION=2.6 TAGS="2.6 latest"  # 2.6.x bugs and security
    - env: ANSIBLE_VERSION=2.7 TAGS="2.7 devel"   # Devel branch source install

before_script:
  - docker pull ${DOCKER_NAMESPACE}/${CONTAINER_NAME}:latest

script:
  - |
    for tag in ${TAGS}
    do
      TAG_STRING+="${TAG_STRING} -t ${DOCKER_NAMESPACE}/${CONTAINER_NAME}:${tag}"
    done
    docker build . --build-arg ANSIBLE_VERSION=${ANSIBLE_VERSION} --cache-from ${DOCKER_NAMESPACE}/${CONTAINER_NAME}:latest ${TAG_STRING}
  - docker run ${DOCKER_NAMESPACE}/${CONTAINER_NAME}:${ANSIBLE_VERSION} molecule --help

deploy:
  provider: script
  script: bash deploy/deploy.sh
  on:
    branch: master
  skip_cleanup: true

notifications:
  email:
    on_failure: change
    on_success: never
